<template>
    <section>
        <div ref="bg" class="fixed w-full h-full pin-r pin-t bg-grey-light"></div>
        <div ref="content" class="portfolio fixed w-full pin overflow-hidden border-16 opacity-0"
            :style="'border-color:' + currentColor">
            <div class="flex flex-wrap">
                <div ref="left" class="w-16 sm:w-1/3 border-grey-lighter border-r opacity-0">
                    <button v-on:click="handleBack()"
                        class="block h-16 w-full w-8 p-4 border-b border-grey-lighter text-left focus:outline-none">
                        <svg class="w-6 text-black" enable-background="new 0 0 408 408" version="1.1"
                            viewBox="0 0 408 408" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <path d="M408,178.5H96.9L239.7,35.7L204,0L0,204l204,204l35.7-35.7L96.9,229.5H408V178.5z"
                                fill="currentColor" />
                        </svg>
                    </button>
                    <div class="overflow-auto h-custom pb-24 sm:pb-0">
                        <button v-on:click="handleProjectClick(item, index)" v-for="(item, index) in portfolio"
                            v-bind:key="index + 1" :class="index === currentProjectIndex ? 'bg-grey-lighter' : ''"
                            class="w-full block text-left px-4 pb-8 pt-16 border-b border-grey-lighter relative cursor-round transition-bg hover:bg-grey-lighter focus:outline-none">
                            <h2 class="text-base font-normal hidden sm:block">{{ item.title }}</h2>
                            <h3 class="text-sm font-normal text-grey-darker mt-2 hidden sm:block">{{ item.type }}</h3>
                            <span class="text-sm absolute pin-r pin-t m-4"><span v-if="index + 1 < 10">0</span>{{ index
                                + 1
                                }}</span>
                        </button>
                    </div>
                </div>
                <div ref="right" class="right-w opacity-0">
                    <div class="h-16 border-b border-grey-lighter relative">
                        <span v-if="currentProjectIndex + 1 < 10"
                            class="text-3xl absolute pin-r my-2 mr-4 overflow-hidden">0<span class="inline-block"
                                ref="number">{{ currentProjectIndex + 1 }}</span></span>

                        <span v-else class="text-3xl absolute pin-r my-2 mr-4 overflow-hidden">1<span
                                class="inline-block" ref="number">{{ ((currentProjectIndex + 1).toString()).substring(1)
                                }}</span></span>
                    </div>
                    <div ref="project"
                        class="w-full px-4 pt-4 pb-24 overflow-auto sm:px-8 sm:pt-8 sm:pb-0 h-custom relative">
                        <h1 ref="title" class="font-canela mb-4 text-2xl md:text-3xl ld:text-4xl"
                            v-html="portfolio[currentProjectIndex].title"></h1>
                        <p ref="description" v-html="portfolio[currentProjectIndex].description"></p>
                        <div ref="link">
                            <a v-if="portfolio[currentProjectIndex].url" :href="portfolio[currentProjectIndex].url"
                                target="_blank" v-on:mouseover="buttonIn()" v-on:mouseleave="buttonOut()"
                                class="overflow-hidden relative inline-block text-md border border-grey-light pl-6 pr-8 py-2 uppercase mt-12 mb-6 text-black cursor-round hover:text-grey-darker sm:text-lg"><svg
                                    class="inline-block align-middle mr-4" width="20" height="20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill="currentColor" fill-rule="nonzero"
                                        d="M15.826 11H0V9h15.826L11.24 3.65l1.518-1.3L19.317 10l-6.558 7.65-1.518-1.3z">
                                    </path>
                                </svg><span class="inline-block align-middle">see <span
                                        class="font-bold">project</span></span>
                                <span ref="buttonBg"
                                    class="button-custom bg-grey-light absolute pin-t w-full h-full opacity-0"></span></a>
                        </div>
                        <div ref="screens">
                            <div v-if="portfolio[currentProjectIndex].slug" class="flex flex-wrap my-8">
                                <div
                                    class="w-full border-t border-r border-l border-grey-lighter text-grey-dark text-right pr-4 py-2">
                                    <span class="text-xs">screenshots</span>
                                </div>
                                <div v-for="index in 3" :key="index"
                                    class="custom-min-h relative w-full border-b-2 border-white text-null bg-grey-lighter px-4 pb-4">
                                    <span class="block text-right my-2 text-sm text-grey-dark">0{{ index }}</span>
                                    <v-lazy-image class="w-full relative z-10"
                                        :src="getPic(portfolio[currentProjectIndex].slug, index)"></v-lazy-image>
                                    <img class="w-16 absolute pin m-auto" src="~/assets/img/logo-grey.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import VLazyImage from "v-lazy-image";
import {
    TimelineLite
} from "gsap";

export default {
    name: "portfolio",
    components: {
        VLazyImage
    },
    head: {
        title: 'Portfolio',
    },
    metaInfo: {
        title: 'Portfolio'
    },
    data() {
        return {
            currentColor: "#000000",
            currentProjectIndex: 0,
            portfolio: [{
                title: "Onesal",
                slug: "onesal",
                description: "Website for Onesal, a 3D and motion graphics studio based in Shimokitazawa, Japan. Built with <span class='bg-red-lighter'>Craft CMS</span>, the site features smooth scrolling, animations, and extensive use of lazy loading techniques. These performance optimizations enhance the user experience while showcasing the studio's visual work.<br><br>Design by <a class=\"no-underline text-grey-darker\" href=\"https://so-ba.cc/\" target=\"_blank\">so-ba</a>.",
                type: "PHP, Craft CMS",
                color: "#000000",
                url: "https://onesal.com/"
            }, {
                title: "Belgian Beer Weekend",
                slug: "bbw",
                description: "Website for the Belgian Beer Weekend event. The frontend is built with <span class='bg-red-lighter'>Nuxt.js</span>. The backend utilizes a combination of a custom <span class='bg-red-lighter'>Laravel</span> application and <span class='bg-red-lighter'>Craft CMS</span>. Data is fetched from the backend to the frontend using <span class='bg-red-lighter'>GraphQL</span> queries.<br><br>Work with <a class=\"no-underline text-grey-darker\" href=\"https://trainspot.jp/\" target=\"_blank\">trainspot</a>.",
                color: "#2362a9",
                type: "Javascript, Vue.js, API, Laravel",
                url: "https://belgianbeerweekend.jp/"
            }, {
                title: "RGB",
                slug: "rgb",
                description: "Website for RGB, a company based in Tokyo. The site is built using <span class='bg-red-lighter'>Craft CMS</span>.<br><br>Design by <a class=\"no-underline text-grey-darker\" href=\"https://julmeme.com/\" target=\"_blank\">Julmeme</a>.",
                type: "PHP, Craft CMS",
                color: "#ffacfa",
                url: "https://rgb.name"
            }, {
                title: "Zou-no-Hana",
                slug: "znh",
                description: "Website for Zou-no-hana Terrace, a public space in Zou-no-hana Park featuring an art space and café. The site is developed using <span class='bg-red-lighter'>Wordpress</span> with a custom-built theme, allowing for tailored design and functionality to showcase the venue's offerings and services.<br><br>Design by <a class=\"no-underline text-grey-darker\" href=\"https://so-ba.cc/\" target=\"_blank\">so-ba</a>.",
                type: "PHP, Wordpress",
                color: "#000000",
                url: "https://zounohana.com"
            }, {
                title: "Japan Artisan Foundation",
                slug: "jaf",
                description: "Website for Japan Artisan Foundation built using <span class='bg-red-lighter'>Craft CMS</span>. Features content management for showcasing traditional Japanese crafts and artisan stories. A separate, linked e-commerce website is implemented using <span class='bg-red-lighter'>Shopify</span> for selling products. Both sites work in tandem to present the foundation's mission and facilitate online sales.<br><br>Design by <a class=\"no-underline text-grey-darker\" href=\"https://julmeme.com/\" target=\"_blank\">Julmeme</a>.",
                type: "PHP, Craft CMS, Shopify",
                color: "#c4c2c3",
                url: "https://artisanfoundation.jp/"
            }, {
                title: "Julmeme",
                slug: "julmeme",
                description: "Portfolio website for the Swiss designer Julien Mercier with whom I worked on many web-based projects in Tokyo.",
                type: "PHP, Craft CMS",
                color: "#000000",
                url: "https://julmeme.com"
            }, {
                title: "YamanoteYamanote",
                slug: "yamanote",
                description: "Woocommerce website for my friends of YamanoteYamanote, two Swiss designers based in Tokyo. After building a simple website with Craft CMS, we worked together to get an ecommerce solution online. I am building the website on <span class='bg-red-lighter'>Wordpress</span> with the <span class='bg-red-lighter'>Woocommerce</span> plugin. I used the boilerplate <span class='bg-red-lighter'>Bedrock</span> and the starter theme <span class='bg-red-lighter'>Sage</span>, both coming from <span class='bg-red-lighter'>Roots.io</span>. I am customizing the theme to fit YamanoteYamanote's design.",
                type: "PHP, Wordpress, WooCommerce, Roots.io",
                color: "#0fe17d",
                url: "https://yamanoteyamanote.com/"
            }, {
                title: "Jaid Creative Productions",
                slug: "jaid",
                description: "<span class='bg-red-lighter'>Craft CMS</span> based website for the company Jaid Creative Productions, based in Japan.<br><br>Design by <a class=\"no-underline text-grey-darker\" href=\"https://julmeme.com/\" target=\"_blank\">Julmeme</a>.",
                type: "PHP, Craft CMS",
                color: "#2C2C2C",
                url: "https://jaidcreative.com/"
            }, {
                title: "Sipmag by Belgian Beer Weekend",
                slug: "sipmag",
                description: "Wordpress-based website made with the boilerplate <span class='bg-red-lighter'>Bedrock</span> and the starter theme <span class='bg-red-lighter'>Sage</span>, both coming from <span class='bg-red-lighter'>Roots.io</span>. Sage uses <span class='bg-red-lighter'>Laravel's Blade</span> templating engine. The framework <span class='bg-red-lighter'>Bulma</span> is used for the styling, and <span class='bg-red-lighter'>Velocity.js</span> for the animation. I used some wordpress plugins for this project: <span class='bg-red-lighter'>ACF Pro</span>, <span class='bg-red-lighter'>Wordpress SEO</span>, <span class='bg-red-lighter'>WP Migrate DB</span>, <span class='bg-red-lighter'>Html Forms</span>.<br><br>Work with <a class=\"no-underline text-grey-darker\" href=\"https://trainspot.jp/\" target=\"_blank\">trainspot</a>.",
                type: "PHP, Wordpress, Roots.io",
                color: "#cccccc",
                url: "https://sipmag.jp/"
            }, {
                title: "Doors to Switzerland",
                slug: "doors-to-switzerland",
                description: "Website project for the Embassy of Switzerland in Japan, linked to the Tokyo Olympics and the relations between Switzerland and Japan.",
                type: "PHP, Craft CMS",
                color: "#e53e3e",
                url: "https://doorstoswitzerland.com/"
            }, {
                title: "Peroni Japan: Bar Locator",
                slug: "peronilocator",
                description: "Made with <span class='bg-red-lighter'>Vue.js</span>, this web-app lists the bars in Japan that serve Peroni beer. I used <span class='bg-red-lighter'>Open Street Map</span> for displaying the map.<br><br>Work with <a class=\"no-underline text-grey-darker\" href=\"https://trainspot.jp/\" target=\"_blank\">trainspot</a>.",
                type: "Javascript, Vue.js, OpenStreetMap",
                color: "#a8a8a7",
                url: "https://locator.peroniitaly.jp/"
            }, {
                title: "See more projects?",
                slug: undefined,
                description: "Above is listed a limited amount of projects I have been working on. I would be very happy to show you more projects I participated in as a freelancer or in agency environments. <br><br> Feel free to contact me at <span class='font-bold'>info[at]leger-romain.com</span>.",
                type: undefined,
                color: "#c9fbf0",
                url: undefined
            }]
        }
    },
    methods: {
        buttonIn() {
            const {
                buttonBg
            } = this.$refs;
            const buttonAnim = new TimelineLite()
            buttonAnim.to(buttonBg, 0.4, {
                left: 0,
                opacity: 1
            })
        },
        buttonOut() {
            const {
                buttonBg
            } = this.$refs;
            const buttonAnim = new TimelineLite()
            buttonAnim.to(buttonBg, 0.4, {
                left: '100%',
                opacity: 0
            }).to(buttonBg, 0, {
                left: '-100%'
            })
        },
        handleProjectClick(project, index) {

            this.$refs.project.scrollTop = 0

            var self = this;
            self.currentColor = project.color

            //List animated elements refs
            const {
                number,
                title,
                description,
                link,
                screens
            } = this.$refs;

            //Number Animation
            const numberAnim = new TimelineLite({});
            numberAnim.to(number, 0.2, {
                y: -30,
            }).to(number, 0, {
                opacity: 0
            }).to(number, 0.6, {
                y: 30,
            }).to(number, 0.2, {
                y: 0,
                opacity: 1
            });

            //Out Animation
            const outAnim = new TimelineLite({
                onComplete: function () {
                    self.currentProjectIndex = index
                    const inAnim = new TimelineLite()
                    //In animation
                    inAnim.to(title, 0.4, {
                        x: 0,
                        opacity: 1
                    }).to(description, 0.4, {
                        x: 0,
                        opacity: 1
                    }).to(link, 0.4, {
                        x: 0,
                        opacity: 1
                    }).to(screens, 0.4, {
                        y: 0,
                        opacity: 1
                    })
                }
            })

            outAnim.to(screens, 0.2, {
                y: -20,
                opacity: 0
            }).to(title, 0.2, {
                x: 50,
                opacity: 0
            }).to(description, 0.2, {
                x: -50,
                opacity: 0
            }).to(link, 0.2, {
                x: 50,
                opacity: 0
            })
        },
        getPic(pic, index) {
            return require('~/assets/img/' + pic + '/thumb_' + index + '.jpg')
        },
        handleBack() {
            var self = this;
            const backAnim = new TimelineLite({
                onComplete: function () {
                    self.$router.push({
                        path: '/'
                    })
                }
            });
            const {
                content,
                left,
                right,
                bg
            } = this.$refs;
            backAnim.to(right, 0.5, {
                x: 50,
                opacity: 0
            }).to(left, 0.5, {
                x: -50,
                opacity: 0
            }).to(content, 0.5, {
                opacity: 0
            }).to(bg, 0.5, {
                width: "100%",
                backgroundColor: "#dae1e7"
            })
        }
    },
    mounted() {
        const loadAnim = new TimelineLite({});
        const {
            content,
            left,
            right,
            bg
        } = this.$refs;
        loadAnim.to(bg, 0.5, {
            backgroundColor: this.currentColor
        }).to(bg, 0.5, {
            width: 0
        }).to(content, 0.3, {
            opacity: 1
        }, '-=0.3').to(left, 0, {
            x: -50
        }).to(left, 0.5, {
            opacity: 1,
            x: 0
        }).to(right, 0, {
            x: 50
        }).to(right, 0.5, {
            x: 0,
            opacity: 1,
        })
    }
}
</script>

<style>
::-webkit-scrollbar {
    display: none;
}

a,
a:hover {
    transition: color 0.3s
}

.h-custom {
    height: calc(100vh - 6rem)
}

.right-w {
    width: calc(100% - 4rem)
}

.button-custom {
    left: -100%;
    z-index: -1;
}

.custom-min-h {
    min-height: 10rem;
}

@screen md {
    .custom-min-h {
        min-height: 20rem;
    }
}

@screen sm {
    .right-w {
        @apply .w-2/3
    }
}

.transition-bg {
    transition: background-color .2s ease-in-out;
}

.portfolio {
    transition: border-color 1.5s ease-in-out;
}

.v-lazy-image {
    opacity: 0;
}

.v-lazy-image.v-lazy-image-loaded {
    opacity: 1;
    transition: opacity 0.5s ease-in 0.5s;
}
</style>