<template>
  <div class="font-sans leading-normal">
    <nuxt/>
  </div>
</template>

<script>
  export default {
    name: 'App',
    metaInfo: {
      title: 'Full-stack Web Developer in Tokyo',
      titleTemplate: 'Romain Leger | %s'
    }
  }
</script>

<style>
</style>

