<template>
  <div class="font-sans leading-normal">
    <section class="fixed w-full min-h-screen border-16 border-white bg-grey-light text-grey-darkest">
      <div class="custom-center fixed pin-l pin-r mx-auto text-center">
        <h1 class="text-lg" v-if="error.statusCode === 404">Page not found</h1>
        <h1 class="text-lg" v-else>An error occurred</h1>
        <nuxt-link to="/" v-on:mouseover="buttonIn()" v-on:mouseleave="buttonOut()" class="my-8 overflow-hidden relative inline-block text-lg border border-grey-lightest pl-6 pr-8 py-2 uppercase mr-2 text-grey-darkest cursor-round focus:outline-none hover:text-black"><svg class="inline-block align-middle mr-4" width="20" height="20" xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor" fill-rule="nonzero" d="M15.826 11H0V9h15.826L11.24 3.65l1.518-1.3L19.317 10l-6.558 7.65-1.518-1.3z"></path>
          </svg><span class="inline-block align-middle">go to <span class="font-bold">homepage</span></span>
          <span ref="buttonBg" class="button-custom bg-grey-light absolute pin-t w-full h-full opacity-0"></span></nuxt-link>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    props: ['error'],
    methods: {
      buttonIn() {
        const buttonBg = this.$refs.buttonBg;
        const buttonAnim = new TimelineLite()
        if (buttonBg) {
          buttonAnim.to(buttonBg, 0.4, {
            left: 0,
            opacity: 1
          })
        }
      },
      buttonOut() {
        const buttonBg = this.$refs.buttonBg;
        const buttonAnim = new TimelineLite()
        if (buttonBg) {
          buttonAnim.to(buttonBg, 0.4, {
            left: '100%',
            opacity: 0
          }).to(buttonBg, 0, {
            left: '-100%'
          })
        }
      }
    }
  }
</script>
<style>
  .custom-center {
    top: 50%;
    transform: translateY(-50%);
  }
</style>