<template>
    <section class="fixed w-full pin border-16 border-grey-light overflow-hidden">
        <div class="p-8 overflow-auto h-custom-screen z-10 relative lg:flex lg:items-center">

            <svg ref="logo"
                class="logo w-32 z-10 mb-4 opacity-0 md:w-1/3 md:p-16 md:fixed md:pin-t md:pin-b md:my-auto text-grey-dark"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 175 175">
                <path fill="currentColor"
                    d="M87.5,175A87.5,87.5,0,1,1,175,87.5,87.6,87.6,0,0,1,87.5,175Zm0-173A85.52,85.52,0,1,0,173,87.5,85.61,85.61,0,0,0,87.5,2Z" />
                <path fill="currentColor"
                    d="M112.21,62.64A15.83,15.83,0,0,0,96.4,46.82H76.34v2H96.4a13.84,13.84,0,0,1,0,27.68H76.34v2H96.4A15.83,15.83,0,0,0,112.21,62.64Z" />
                <polygon fill="currentColor"
                    points="52.33 34.46 50.35 34.46 50.35 139.97 117.6 139.97 117.6 138 52.33 138 52.33 34.46" />
                <polygon fill="currentColor"
                    points="98.69 125.36 64.97 125.36 64.97 34.46 62.99 34.46 62.99 127.34 98.69 127.34 98.69 125.36" />
                <polygon fill="currentColor" points="76.34 88.84 114.83 127.34 117.63 127.34 79.14 88.84 76.34 88.84" />
                <path fill="currentColor"
                    d="M98.69,90.73A28.18,28.18,0,0,0,96.4,34.46H76.34v2H96.4a26.2,26.2,0,0,1,0,52.4H94l38.49,38.5h2.8Z" />
            </svg>
            <div ref="left" class="opacity-0 w-full md:w-2/3 lg:self-end">
                <h1 class="text-2xl lg:text-3xl xxl:text-5xl text-grey-darkest font-normal leading-tight">Romain Leger
                    works with web agencies and startups to develop modern websites & web applications using the latest
                    technologies.</h1>
                <div class="flex flex-wrap my-4">
                    <div class="w-full md:w-1/2 lg:w-1/3 my-4 md:pr-6">
                        <p class="text-md text-grey-darker">Currently living in Tokyo, Japan, Romain is originally from
                            France. He is specialized in both front-end & back-end web development</p>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 my-4 md:pr-6">
                        <p class="text-md text-grey-darker">Romain lived in France, Japan, Germany & the United States
                            and worked there for web or creative agencies on exciting projects.</p>
                    </div>
                    <div class="w-full md:w-1/2 lg:w-1/3 my-4 md:pr-6">
                        <p class="text-md text-grey-darker">He is now working on making websites and apps at <a
                                class="text-black" href="https://trainspot.jp" target="_blank">trainspot kk</a>.</p>
                        <p class="text-md text-grey-darker">More info: info[at]leger-romain.com</p>
                    </div>
                </div>
                <div class="mb-12 pb-16 mt-4 md:pb-0 md:my-4 xxl:my-12">
                    <button v-on:mouseover="buttonIn()" v-on:mouseleave="buttonOut()" v-on:click="goPortfolio()"
                        class="overflow-hidden relative inline-block text-xl border border-grey-light pl-6 pr-8 py-2 uppercase mr-2 text-black cursor-round focus:outline-none hover:text-grey-darker md:text-2xl "><svg
                            class="inline-block align-middle mr-4" width="20" height="20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" fill-rule="nonzero"
                                d="M15.826 11H0V9h15.826L11.24 3.65l1.518-1.3L19.317 10l-6.558 7.65-1.518-1.3z"></path>
                        </svg><span class="inline-block align-middle">SEE <span class="font-bold">PROJECTS</span></span>
                        <span ref="buttonBg"
                            class="button-custom bg-grey-light absolute pin-t w-full h-full opacity-0"></span></button>
                </div>
            </div>
        </div>
        <div ref="right" class="fixed pin-t pin-r h-full w-full bg-grey-light block md:block"></div>
    </section>
</template>

<script>
import {
    TimelineLite
} from "gsap";
export default {
    data() {
        return {
            windowWidth: 0,
            rightWidth: 0
        }
    },
    methods: {
        buttonIn() {
            const buttonBg = this.$refs.buttonBg;
            const buttonAnim = new TimelineLite()
            if (buttonBg) {
                buttonAnim.to(buttonBg, 0.4, {
                    left: 0,
                    opacity: 1
                })
            }
        },
        buttonOut() {
            const buttonBg = this.$refs.buttonBg;
            const buttonAnim = new TimelineLite()
            if (buttonBg) {
                buttonAnim.to(buttonBg, 0.4, {
                    left: '100%',
                    opacity: 0
                }).to(buttonBg, 0, {
                    left: '-100%'
                })
            }
        },
        goPortfolio() {
            const {
                logo,
                right,
                left
            } = this.$refs;

            const pushPortfolio = this.$router.push({
                path: 'portfolio'
            })

            pushPortfolio

            const unloadAnim = new TimelineLite({
                onComplete: function () {
                    pushPortfolio
                }
            });

            unloadAnim.to(left, 0.4, {
                opacity: 0
            }).to(logo, 0.4, {
                opacity: 0
            }, '-=0.2').to(right, 0.4, {
                width: "100%",
            })
        },
        setRightWith(currentWidth) {
            if (currentWidth > 767) {
                this.rightWidth = "33.33333%"
            } else {
                this.rightWidth = 0
            }
        }
    },
    mounted() {
        const loadAnim = new TimelineLite({});

        const currentWidth = window.innerWidth;
        this.setRightWith(currentWidth)

        const {
            logo,
            right,
            left
        } = this.$refs;

        loadAnim.to(logo, 1, {
            opacity: 1,
        }).to(logo, 0.4, {
            right: 0,
            transform: "translateX(0)"
        }).to(right, 0.4, {
            width: this.rightWidth,
        }, '-=0.2').to(left, 1, {
            opacity: 1,
        })
    }
}
</script>

<style>
a,
a:hover {
    transition: color 0.3s
}

.cursor-round {
    cursor: url("/circle.svg"), auto;
}

.button-custom {
    left: -100%;
    z-index: -1;
}

@screen md {
    .logo {
        right: 50%;
        transform: translateX(50%)
    }
}

.h-custom-screen {
    height: calc(100vh - 2rem)
}
</style>